[submodule "dep/DataViewJs"]
	path = dep/DataViewJs
	url = git://github.com/davidflanagan/DataView.js.git
[submodule "dep/gl-matrix"]
	path = dep/gl-matrix
	url = git://github.com/bpl/gl-matrix.git
[submodule "dep/requirejs"]
	path = dep/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "dep/jquery"]
	path = dep/jquery
	url = git://github.com/jquery/jquery.git
