[submodule "src/dep/DataViewJs"]
	path = src/dep/DataViewJs
	url = git://github.com/davidflanagan/DataView.js.git
[submodule "src/dep/requirejs"]
	path = src/dep/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "src/dep/jquery"]
	path = src/dep/jquery
	url = git://github.com/jquery/jquery.git
[submodule "dep/gl-matrix"]
	path = dep/gl-matrix
	url = git://github.com/bpl/gl-matrix.git
